body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    margin-left: 700;
    max-width: 500px;
    
   
    text-align:center;
    margin:auto ;
    border: 3px solid black;
    
  }


  h3{
    color:rgb(139, 77, 139);
  }