{% extends "base.html" %} {% block title %}Movies - Popcorn Movie
Renting{%endblock %} {% block content %}

<!-- Movies catalogue -->
<section class="p-5">
  <div class="container">
    <div class="container p-2 border-bottom">
      <h2>Movies to Rent</h2>
      <p>
        Browse our full catalogue of movies below. Use the filters to refine
        your search.
      </p>
    </div>

    <div class="row g-2 text-center p-3">
      <div class="col-6 col-md-3 col-lg-2">
        <div class="card">
          <img
            src="static/images/new-releases/old.jpg"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">Old</h5>
            <p class="card-text"><small class="text-muted">2021</small></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <div class="card">
          <img
            src="static/images/new-releases/malignant.jpg"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">Malignant</h5>
            <p class="card-text"><small class="text-muted">2021</small></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <div class="card">
          <img
            src="static/images/new-releases/a_quiet_place_part_ii.jpg"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">A Quiet Place Part II</h5>
            <p class="card-text"><small class="text-muted">2021</small></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <div class="card">
          <img
            src="static/images/new-releases/those_who_wish_me_dead.jpg"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">Those Who Wish Me Dead</h5>
            <p class="card-text"><small class="text-muted">2021</small></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <div class="card">
          <img
            src="static/images/new-releases/old.jpg"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">Old</h5>
            <p class="card-text"><small class="text-muted">2021</small></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <div class="card">
          <img
            src="static/images/new-releases/old.jpg"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">Old</h5>
            <p class="card-text"><small class="text-muted">2021</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
