{% extends "base.html" %} {% block title %}Movies - Popcorn Movie
Renting{%endblock %} {% block content %}

<!-- Movies catalogue -->
<section class="p-5">
  <div class="container">
    <div class="container p-2 border-bottom">
      <h2>Movies to Rent</h2>
      <p>
        Browse our full catalogue of movies below. Use the filters to refine
        your search.
      </p>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Most Popular</button>
          <button type="button" class="btn btn-primary">From A to Z</button>
          <button type="button" class="btn btn-primary">a</button>
        </div>
    </div>

    <div class="row g-2 text-center p-3">
        {% for movie in movies %}
            <div class="col-6 col-md-3 col-lg-2">
                <div class="card">
                    {% if 'poster_path' in movie %}
                        <img
                            src={{ "https://www.themoviedb.org/t/p/original" + movie['poster_path'] }}
                            class="card-img-top"
                            alt=""
                        />
                    {% else %}
                        <img
                            src="static/images/movie_placeholder.png"
                            class="card-img-top"
                            alt=""
                        />
                    {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ movie['title'] }}</h5>
                    <p class="card-text"><small class="text-muted">Rating: {{ movie['vote_average'] }}</small></p>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
